{% extends "base.html.twig" %}
{% block body %}
<section class="content-wrapper" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">


        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-header">
                        <form method="get" action="">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInput"></label>
                                    <input type="text" name="keyName" class="form-control mb-2" id="inlineFormInput"
                                        placeholder="Mot clé">
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i>
                                        Rechercher</button>
                                </div>
                                <div class="col-auto">

                                    <a href="{{path('imprimer_compte_menu')}}" class="btn btn-info mb-2"><i
                                            class="fa fa-print"></i> Imprimer</a>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-header">
                        <h5></h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th>Compte</th>
                                    <th>Solde</th>
                                    <th>Nature</th>
                                    <th>Statut</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for row in comptes %}
                                <tr>
                                    <td>{{row.numero}}</td>
                                    <td>{{row.solde|number_format(0, ' ', ' ')}} FCFA</td>
                                    <td>{{row.type.nom}}</td>
                                    {% if row.statut==1 %}
                                    <td>Actif</td>
                                    {% elseif row.statut==0 %}
                                    <td>Bloqué</td>
                                    {% endif %}


                                </tr>

                                {% else %}
                                <tr>
                                    <td colspan="3">La liste est vide ...</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>

                            </tfoot>

                        </table>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock body %}