{% extends "base2.html.twig" %}
{% block body %}

<body onload="window.print()">


    <section class="content-wrapper" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">

            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-header">
                            Liste des clients
                        </div>
                        <div class="card-header">
                            <h5></h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Adresse</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for row in clients %}
                                    <tr>
                                        <td>{{row.nom}}</td>
                                        <td>{{row.email}}</td>
                                        <td>{{row.contact}}</td>
                                        <td>{{row.adresse}}</td>

                                    </tr>

                                    {% else %}
                                    <tr>
                                        <td colspan="3">La liste est vide ...</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</body>
{% endblock body %}