{% extends "base2.html.twig" %}
{% block body %}

<body onload="window.print()">


    <section class="content-wrapper" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">

            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-10">

                    <div class="card">

                        <div class="card-header">
                            Relevé Bancaire <strong> | Titulaire:</strong> {{nom_client}}
                        </div>
                        <div class="card-header">
                            <h5 th:text="${nb} + ' Régions enregistrées'"></h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>Compte</th>
                                        <th>Solde</th>
                                        <th>Nature</th>
                                        <th>Statut</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for row in comptes %}
                                    <tr>
                                        <td>{{row.numero}}</td>
                                        <td>{{row.solde}} FCFA</td>
                                        <td>{{row.type.nom}}</td>
                                        {% if row.statut==1 %}
                                        <td>Actif</td>
                                        {% elseif row.statut==0 %}
                                        <td>Bloqué</td>
                                        {% endif %}


                                    </tr>

                                    {% else %}
                                    <tr>
                                        <td colspan="3">La liste est vide ...</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</body>
{% endblock body %}